<div (click)="seleccionarIdioma()">
  <img style="height: 30px; width: 50px" src="{{ selectedLanguage }}" />
</div>

<div class="container">
  <div class="container-categorias">
    <div class="botones-categorias numeros" (click)="selectNumbers()"></div>
    <div class="botones-categorias animales" (click)="selectAnimals()"></div>
    <div class="botones-categorias colores" (click)="selectColours()"></div>
  </div>
</div>
<!-- <button (click)="return()">
  <ion-icon class="flechi" name="arrow-back-outline"></ion-icon>
</button> -->
